/* Overall Settings */
*{margin: 0 auto; text-align: center; font-family: "Helvetica Neue";}

/*** Clearfix Solution for Floats ***/
#mainBackgroundDiv:after,
#navBarDiv ul:after,
#projectImagesContainerDiv:after,
#projectImageDiv:after,
.individualProjectDiv:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

/*** Main variables ***/
:root{
	--widthOfNavBarItems: 300px;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	position: relative;
}

#mainBackgroundDiv {
	position: fixed;
	margin-top: 0;
	padding-top: 0;
	/* height: 100%; */
	/* height: 2000px; */
	width: 160%;
}

	#mainBackgroundDiv img {
		/* height: 100%; */
		width: 100%;
	}





#mainBodyDiv {

	height: 100%;
	width: 100%;
	padding-top: 0;
	position: relative;

}

#navBarDiv {
	position: relative;
	width: 100%;
	padding: 10px 0;
	/* background-color: rgba(0,0,0,.7); */

}
	#navBarDiv ul {

		/* background-color: rgba(200,200,200,0.5); */
		/* Width is: width each li + 2px for each li except the first, x # of li */
		width: 904px;
		padding: 10px 0;

	}

	#navBarDiv ul li {
		width: var(--widthOfNavBarItems);
		margin: 0;
		float: left;
		list-style-type: none;
		border-left: 2px solid white;

	}
		#navBarDiv ul li:first-child {
			border-left: none;
		}

		#navBarDiv ul li a {
			text-decoration: none;
			font-size: 30px;
			font-family: Georgia;
			font-weight: 700;
			color: rgba(255,255,255,1);
			text-align: center;
			display: block;
			width: 100%;
			padding: 10px 0;
			transition: 0.15s;
		}
			#navBarDiv ul li a:hover {

				color: rgba(83, 37, 99, 1);
				cursor: pointer;

			}
			#navBarDiv ul li a:active {

				color: rgba(222, 195, 40. 1);

			}

#introDiv {

	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	/* background-color: rgba(0,0,0,0.4); */
	/* height: calc(100% - 100px); */

}

#mobileDeveloperTitle {

	/* padding-top: 50px; */
	margin-top: 60px;

}

h1 {

	font-weight: 200;
	font-size: 150px;
	color: rgba(255,255,255,1);

}
h2 {

	font-weight: 200;
	font-size: 60px;
	color: rgba(135,135,135,1);

}
	#detailDiv h2, #projectDiv h2, #certificationDiv h2 {

		font-family: "Georgia";
		font-weight: 400;
		font-style: italic;

	}

h3 {

	font-family: "Georgia";
	font-weight: 200;
	font-size: 40px;
	color: rgba(255,255,255,1);

}

.paragraph {

	font-family: "Helvetica Neue";
	font-size: 35px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	margin: 50px 100px;

}

.projectDetails {

	font-family: "Helvetica Neue";
	font-size: 30px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	margin-bottom: 90px;

}

	.projectDetails a {

		text-decoration: none;
		font-family: "Helvetica Neue";
		font-size: 30px;
		font-weight: 400;
		color: rgba(255,255,255,0.6);

	}

	#introGitHubLink {

		font-family: "Georgia";
		font-size: 30px;
		font-weight: 200;
		color: rgba(255,255,255,0.8);
		text-decoration: none;

	}

.gitHubLink {

	font-family: "Georgia";
	font-size: 30px;
	font-weight: 200;
	color: rgba(255,255,255,0.6);
	display: block;
	margin-bottom: 50px;
	text-decoration: none;

}

#detailDiv {

	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	width: 100%;
	min-height: 600px;
	/* background-color: rgba(204,204,204,1); */
	background-color: rgba(0,0,0,1);

}
#projectDiv {

	padding: 100px 5% 10% 5%;
	/* margin: 5%; */
	position: relative;
	/* width: 80%; */
	width: 90%;
	/* height: 900px; */
	background-color: rgba(0,0,0,0.3);

}

		#triangle {

			width: 50px;
			height: 50px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

		}

	#projectDiv h2 {

		padding-bottom: 50px;
		color: rgba(255,255,255,1);

	}

	#projectImagesContainerDiv {

		width: 100%;
		height: 100%;
		position: relative;

	}

		.individualProjectDiv {

			color: rgba(255,255,255,0.7);
			background-color: rgba(0,0,0,0.7);
			margin-bottom: 10%;

		}

			.individualProjectDiv div {

				float: left;

			}

			.projectImageDiv {

				position: relative;

			}

				.projectImageDiv img {

					display: block;
					width: 100%;

				}

		.projectTitleDiv {

			font-weight: 200;
			font-size: 60px;


		}

		.horizontalTitleDiv {
			width: 100%;
			padding-top: 12%;
		}
		.horizontalFirstImageDiv {
			padding: 10% 5%;
			width: 90%;
		}
		.horizontalSecondImageDiv {
			padding: 10% 5%;
			width: 90%;
		}
		.horizontalDescription {
			width: 100%;
			padding: 5% 0%;
		}

		.verticalTitleDiv {
			width: 35%;
			padding: 30% 0% 0% 5%;
		}
		.verticalFirstImageDiv {
			padding: 5% 5% 10% 5%;
			/* padding-left: 0%; */
			width: 50%;
		}
		.verticalSecondImageDiv {
			padding: 5% 5% 10% 5%;
			/* padding-right: 0%; */
			width: 50%;
		}
		.verticalDescription {
			width: 30%;
			padding: 20% 5% 0% 5%;
		}

		.verticalDescriptionSectionDiv {
			width: 100%;
		}






#certificationDiv {

	padding-top: 100px;
	position: relative;
	width: 100%;
	height: 400px;
	/* background-color: rgba(204,204,204,1); */
	background-color: rgba(0,0,0,1);

}

	#unsplashAttribution {

		position: absolute;
		bottom: 10px;
		left: 10px;
		z-index: 10;
		padding:6px 8px;
		background-color:black;
		color:white;
		text-decoration:none;
		font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
		font-size:24px;
		font-weight:bold;
		/* line-height:1.2; */
		display:inline-block;
		border-radius:3px;

	}



@media screen and (min-width: 500px) {



}

@media screen and (min-width: 600px) {



}

@media screen and (min-width: 700px) {



}

@media screen and (min-width: 800px) {



}

@media screen and (min-width: 900px) {



}

@media screen and (min-width: 1000px) {



}

@media screen and (min-width: 1100px) {



}
